pytictac
neptune-client[optuna]
wandb
wget
hydra-core
pytorch_lightning==1.6.5
colorama
kornia_rs
fast_slic
git+https://github.com/kornia/kornia#egg=kornia
pytest
scipy
scikit-image
scikit-learn
ros-noetic-ros-base
ros-noetic-cv-bridge
libopencv
compilers
cmake
pkg-config
make
ninja
catkin_tools
pyg
neptune-client
simple-parsing
matplotlib
seaborn
pandas
torchmetrics==0.11.0
opencv-python
torch_geometric
rl-games
-e git+https://github.com/mmattamala/liegroups#egg=liegroups
-e git+https://github.com/leggedrobotics/stego.git#egg=stego==0.0.1
-e git+https://github.com/jolfss/isaac_stage.git#egg=isaac_stage
-e git+https://github.com/willh003/ws-isaac-planner.git#egg=ws-isaac-planner
-e git+https://github.com/lucasb-eyer/pydensecrf.git#egg=pydensecrf